<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @request.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @request.lng %>
</p>

<p>
  <strong>Fulfilled:</strong>
  <%= @request.fulfilled %>
</p>

<p>
  <strong>Type:</strong>
  <%= @request.type %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
